<ion-header>
  <ion-toolbar>
    <ion-title>Pet manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="ion-text-center ion-margin-top">
      <span
        style="
          display: inline-block;
          width: 50% font-weight-600;
          font-size: 2rem;
        "
        >404</span
      >
    </div>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
      "
    >
      <p
        style="
          display: flex;
          width: 80%;
          justify-content: center;
          align-items: center;
        "
      >
        Opps!!!
      </p>
    </div>
    <div
      class="ion-padding flex-column gap-10 ion-align-items-center ion-justify-content-center"
    >
      <img
        src="../../../../assets/illustrations/to-the-moon.svg"
        alt=""
        width="312px"
        style="margin-bottom: 20px"
      />
      <ion-button fill="clear" expand="block" (click)="back()"
        >Go back
      </ion-button>
    </div>
  </div>
</ion-content>
