{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "importOrder": [
    "^(@nestjs/(.*)$)|^(nestjs$)",
    "^(@angular/(.*)$)|^(angular$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@api/(.*)$)|^(api$)",
    "",
    "^types$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.4",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
