<ion-row class="ion-align-items-center ion-justify-content-center">
  <div class="circle" [class.current]="step === 1" [class.completed]="step > 1">
    <div *ngIf="step === 1" class="inner-circle"></div>
    <img
      *ngIf="step > 1"
      src="./../../../assets/app-icons/check-white.svg"
      alt=""
    />
  </div>

  <div class="divider-line" [class.active]="step > 1"></div>

  <div class="circle" [class.current]="step === 2" [class.completed]="step > 2">
    <div *ngIf="step === 2" class="inner-circle"></div>
    <img
      *ngIf="step > 2"
      src="./../../../assets/app-icons/check-white.svg"
      alt=""
    />
  </div>
</ion-row>
