<nav>
  <header class="ion-padding">
    <h2>Pet Manager</h2>
  </header>

  <!-- Menu Links -->
  <main class="ion-padding disable-select">
    <a
      data-test="sidenav-dashboard"
      routerLink="/dashboard"
      routerLinkActive="item-active"
      routerDirection="root"
      class="menu-item text-sm font-medium"
      (click)="close($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
        />
      </svg>
      Dashboard
    </a>

    <a
      data-test="sidenav-pets"
      routerLink="/pets"
      routerLinkActive="item-active"
      routerDirection="root"
      class="menu-item text-sm font-medium"
      (click)="close($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
        />
      </svg>

      Pets
    </a>

    <a
      data-test="sidenav-logout"
      class="menu-item text-sm font-medium cursor-pointer"
      (click)="logoutUser($event)"
    >
      Sign out
    </a>
  </main>

  <!-- Footer -->
  <footer class="flex-row gap-8">
    <a
      routerLink="/settings"
      routerLinkActive="item-active"
      routerDirection="root"
      class="text-sm font-medium"
      (click)="close($event)"
    >
      <div class="user-circle">{{ userInitals }}</div>
      <div data-test="sidenav-user" class="flex-column">
        {{ user?.firstName }} {{ user?.lastName }}
        <p
          data-test="sidenav-settings"
          class="text-xs font-medium text-gray-500"
        >
          Settings
        </p>
      </div>
    </a>
  </footer>
</nav>
